
<!--Modaaldialoog, kus küsime kasutajalt kinnitust märkida pöördumine tehtuks ja eemaldada see andmebaasist-->
<div class="modal fade" id="markDoneModal" tabindex="-1" aria-labelledby="markDoneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <!--Küsimärgi ikoon, Bootstrap'i oma-->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="blue" class="bi bi-question-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Info:">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/> 
                <svg/>
                <h5 class="modal-title" id="markDoneModalLabel"> Olete kindel otsuses pöördumine lahendatuks märkida? </h5>
                <button type="button" class="btn-close" data-bs-toggle="tooltip" title="Sulge" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-area="" asp-action="MarkDone" method="post">
                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            Kirjeldus:
                        </dt>
                        <dd class="col-sm-10">
                            <span id="description"></span>
                        </dd>
                        <dt class="col-sm-2">
                            Lisatud:
                        </dt>
                        <dd class="col-sm-10">
                            <span id="dateTimeAdded"></span>
                        </dd>
                        <dt class="col-sm-2">
                            Tähtaeg:
                        </dt>
                        <dd class="col-sm-10">
                            <span id="deadline"></span>
                        </dd>
                    </dl>
                    <p>Märkides pöördumise lahendatuks, eemaldatakse see nimekirjast. Jätkamiseks klõpsake Kinnita või klõpsake Katkesta, kui muutsite meelt.</p>
                    <input type="hidden" name="incidentID" id="incidentID" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Katkesta</button>
                    <button type="submit" value="MarkDone" class="btn btn-danger mark_done_confirm">Kinnita</button>
                </div>
            </form>
        </div>
    </div>
</div>


